<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ME StyleCop Rule Set" Description="StyleCop Settings for Maxx Edge Projects" ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1309" Action="None" />
	<Rule Id="SA1210" Action="None" />
	<Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>